<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sabgil.bbuckkugi">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
	<application
		android:name=".BbuckkugiApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		
		<activity android:name="com.sabgil.bbuckkugi.presentation.ui.login.LoginActivity" />
		
		<activity android:name=".TestActivity" />
		
		<activity android:name="com.sabgil.bbuckkugi.presentation.ui.start.StartActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name="com.sabgil.bbuckkugi.presentation.ui.guide.GuideActivity" />
		
		<activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				
				<!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
				<data
					android:host="oauth"
					android:scheme="@string/KAKAO_SDK_SCHEME" />
			</intent-filter>
		</activity>
		
		<activity android:name="com.sabgil.bbuckkugi.presentation.ui.home.HomeActivity" />
		
		<activity android:name="com.sabgil.bbuckkugi.presentation.ui.discovery.DiscoveryActivity" />
		
		<activity android:name="com.sabgil.bbuckkugi.presentation.ui.namesetting.NameSettingActivity" />
		
		<activity
			android:name="com.sabgil.bbuckkugi.presentation.ui.send.SendActivity"
			android:parentActivityName="com.sabgil.bbuckkugi.presentation.ui.home.HomeActivity" />
		
		<activity
			android:name="com.sabgil.bbuckkugi.presentation.ui.receive.ReceiveActivity"
			android:parentActivityName="com.sabgil.bbuckkugi.presentation.ui.home.HomeActivity" />
		
		<service android:name=".service.ConnectionService" />
	
	</application>

</manifest>